#synctime {
	display: none;
}

body {
	margin: 0px;
	background-color: #000000;
}

#photo {
	height: 100%;
	width: 100%;
	overflow: none;
}

#photo > img {
	display: none;
	margin-left: auto;
    margin-right: auto;
}

