<div id="blueSetup">
        <button id="returnToMainScreen" class="back"><h3>Back to Map</h3></button>
        <div id="cloud1Blue" class="cloud1Blue"></div>
        <div id="cloud2Blue" class="cloud2Blue"></div>
        <div id="cloud3Blue" class="cloud3Blue"></div>
        <div id="cloud4Blue" class="cloud4Blue"></div>
        <div id="cloud5Blue" class="cloud5Blue"></div>
        <div id="cloud6Blue" class="cloud6Blue"></div>
        <div id="touchAudio"></div>
        <div class="infoTextCont">
            <img style="width:auto;height:50%"  src="/eddie/apps/photoexhibition/img/headphones.png"><span class="infoText"><div><h4>Plug in your headphones</h4></div></span>
        </div>
    </div>