<div id="greenSetup">
        <button id="returnToMainScreen" class="back"><h3>Back to Map</h3></button>
        <div id="border" class="border">
        	<div id="dragger"></div>
        	<div id="zoomin"></div>
        	<div id="zoomout"></div>
        </div>
        <div id="touchZoom" class="zoom"></div>
        <div class="infoTextCont">
            <img style="width:auto;height:50%"  src="/eddie/apps/photoexhibition/img/headphones.png"><span class="infoText"><div><h4>zoom (two fingers)<br>move (one finger)</h4></div></span>
        </div>
    </div>