<div id="redSetup">
        <button id="returnToMainScreen" class="back"><h3>Back to Map</h3></button>
        <div id="border" class="border"></div>
        <button id="touchSwipe_left" class="swipe_left"></button>
        <button id="touchSwipe_right" class="swipe_right"></button>
        <div class="infoTextCont">
            <img style="width:auto;height:50%" src="/eddie/apps/photoexhibition/img/headphones.png"><span class="infoText"><h4>Plug in your headphones<h4></span>
        </div>
    </div>
